"*":
  "atom-beautify":
    general:
      _analyticsUserId: "1a87f07b-d8a3-443d-a933-1a98d4f77ba6"
    html:
      wrap_line_length: 80
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnType: false
    "atom-ide-diagnostics-ui":
      autoVisibility: true
  "atom-material-ui":
    colors:
      abaseColor: "#458588"
      accentColor: "#fbf1c7"
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
      panelShadows: true
      useAnimations: false
  core:
    disabledPackages: [
      "linter-scalac"
      "omnisharp-atom"
      "ide-csharp"
      "atom-ide-ui"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "gruvbox-plus-syntax"
    ]
  editor: {}
  "exception-reporting":
    userId: "870eb00b-2174-4b99-bfb3-1ce1a2ff392e"
  "gruvbox-plus-syntax": {}
  "linter-eslint":
    useGlobalEslint: true
  "linter-stylelint": {}
  "linter-ui-default":
    panelHeight: 69
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  "prettier-atom":
    formatOnSaveOptions:
      showInStatusBar: true
  "tree-view": {}
  welcome:
    showOnStartup: false
