"*":
  "atom-material-ui":
    colors: {}
    tabs: {}
    ui:
      panelContrast: true
      panelShadows: true
      useAnimations: false
  core:
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  "exception-reporting":
    userId: "a1a9aa10-5dd3-492b-8e76-178159955b87"
  welcome:
    showOnStartup: false
